<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PakTurk_school_system.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="PakTurk_school_system.Properties.Settings.School_SystemConnectionString"
            connectionString="Data Source=GULSOFTE-9D6F32\SQLEXPRESS;Initial Catalog=School_System;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="PakTurk_school_system.Properties.Settings.School_SystemConnectionString1"
            connectionString="Data Source=BUTT-94DC6D2530\SQLEXPRESS;Initial Catalog=School_System;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <applicationSettings>
        <PakTurk_school_system.Properties.Settings>
            <setting name="PakTurk_school_system_localhost1_RegistrationService"
                serializeAs="String">
                <value>http://localhost:30570/PakTurkBLL/RegistrationService.asmx</value>
            </setting>
            <setting name="PakTurk_school_system_searchStudent_SearchRegisteredStudent"
                serializeAs="String">
                <value>http://localhost:30570/PakTurkBLL/SearchRegisteredStudent.asmx</value>
            </setting>
            <setting name="PakTurk_school_system_AdmintTheStudent_AdmitStudent"
                serializeAs="String">
                <value>http://localhost:30570/PakTurkBLL/AdmitStudent.asmx</value>
            </setting>
            <setting name="PakTurk_school_system_creatUser_CreateUserWebService"
                serializeAs="String">
                <value>http://localhost:30570/PakTurkBLL/CreateUserWebService.asmx</value>
            </setting>
            <setting name="PakTurk_school_system_UserAuthenticate_LoginWebService"
                serializeAs="String">
                <value>http://localhost:30570/PakTurkBLL/LoginWebService.asmx</value>
            </setting>
            <setting name="PakTurk_school_system_ManageCourseWS_ManageCoursesWebService"
                serializeAs="String">
                <value>http://localhost:30570/PakTurkBLL/ManageCoursesWebService.asmx</value>
            </setting>
            <setting name="PakTurk_school_system_ChangePassword_ChangePasswordWebService"
                serializeAs="String">
                <value>http://localhost:30570/PakTurkBLL/ChangePasswordWebService.asmx</value>
            </setting>
            <setting name="PakTurk_school_system_assignSubjectService_manageTeacher"
                serializeAs="String">
                <value>http://localhost:30570/PakTurkBLL/manageTeacher.asmx</value>
            </setting>
            <setting name="PakTurk_school_system_AttendanceWS_AttendanceWebService"
                serializeAs="String">
                <value>http://localhost:30570/PakTurkBLL/AttendanceWebService.asmx</value>
            </setting>
            <setting name="PakTurk_school_system_ViewMarksWS_ViewMarksWebService"
                serializeAs="String">
                <value>http://localhost:30570/PakTurkBLL/ViewMarksWebService.asmx</value>
            </setting>
            <setting name="PakTurk_school_system_ManageclsService_manageClass"
                serializeAs="String">
                <value>http://localhost:30570/PakTurkBLL/manageClass.asmx</value>
            </setting>
            <setting name="PakTurk_school_system_UpdateUserInfo_UpadateUser"
                serializeAs="String">
                <value>http://localhost:30570/PakTurkBLL/UpadateUser.asmx</value>
            </setting>
        </PakTurk_school_system.Properties.Settings>
    </applicationSettings>
</configuration>